<div class="grid gap-2">
  <div class="flex gap-2 items-center">
    <button (click)="download()" [disabled]="loading$()" class="flex-1 btn">
      {{ label() }}
    </button>
    <button
      color="primary"
      (click)="openDir()"
      [disabled]="!dir()"
      class="btn btn-circle tooltip tooltip-left" [attr.data-tip]="'打开' + dir()"
    >
      <span class="material-icons">folder</span>
    </button>
  </div>
  @if (loading$() || info()) {
    <app-process [info]="info()"></app-process>
  }
</div>
